/* .amarelocheck{
  background-color: #FFD121;
} */

/* css reset */

.titulo{
  font-size: 20px;
  font-weight: bold;
}

.subtitulo{
  font-size: 15px;
  
}
.formulario{
  font-size: 18px;
  font-weight: bold;
}

.display{
  display: block;
}

.btnvoltar{
  color: #cccccc;
  padding-left: 1%;
  font-size: 18px;

}


.c_text{
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding-bottom: 7px;
  padding-top: 7px;
  
  
}

.btncad{
  background-color: #D9D9D9;
  padding: 10px;
}

.btntipocad{
  font-size: 25px;
  font-weight: 900;
}


.btnmenunav{
  border-radius: 0;
  padding: 20px !important;
  margin: 0;
}
.ajustelocal{
  margin-bottom: 23px;
}
.btnmenulogin{
  border-radius: 0;
  padding: 20px !important;
  margin: 0;
}